version: 0.40.5
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - users
streams:
  - type: DeclarativeStream
    name: users
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        properties:
          Skill:
            items:
              properties:
                created:
                  type: string
                id:
                  type: string
                name:
                  type: string
                skill_group_id:
                  type: string
                updated:
                  type: string
              type: object
            type: array
          User:
            properties:
              account_id:
                type: string
              age:
                type:
                  - 'null'
                  - string
              anonymized:
                type: boolean
              avatar_150x200:
                type: string
              avatar_24x24:
                type: string
              avatar_30x30:
                type: string
              avatar_45x45:
                type: string
              avatar_60x60:
                type: string
              avatar_file_name:
                type:
                  - 'null'
                  - string
              banknr:
                type:
                  - 'null'
                  - string
              birthdate:
                type:
                  - 'null'
                  - string
              birthday:
                type:
                  - 'null'
                  - string
              birthday_age:
                type:
                  - 'null'
                  - string
              birthplace:
                type:
                  - 'null'
                  - string
              city:
                type:
                  - 'null'
                  - string
              custom_fields:
                type: string
              display_name:
                type: string
              email:
                type: string
              emergency_nr:
                type:
                  - 'null'
                  - string
              employee_nr:
                type:
                  - 'null'
                  - string
              enddate:
                type:
                  - 'null'
                  - string
              first_name:
                type: string
              has_login:
                type: boolean
              hire_date:
                type:
                  - 'null'
                  - string
              id:
                type: string
              invited:
                type: boolean
              last_login:
                type:
                  - 'null'
                  - string
              last_name:
                type: string
              locale:
                type: string
              mfa_enabled:
                type: boolean
              mobile_nr:
                type:
                  - 'null'
                  - string
              name:
                type: string
              nationality:
                type:
                  - 'null'
                  - string
              nr_of_logins:
                type: string
              order:
                type: string
              passport_number:
                type:
                  - 'null'
                  - string
              phone_nr:
                type:
                  - 'null'
                  - string
              plus_min_hours:
                type: string
              post_code:
                type:
                  - 'null'
                  - string
              prefix:
                type: string
              roster_note:
                type:
                  - 'null'
                  - string
              ssn:
                type:
                  - 'null'
                  - string
              startdate:
                type: string
              street_address:
                type:
                  - 'null'
                  - string
              verified:
                type: boolean
            type: object
        type: object
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.shiftbase.com/api
        path: /users
        http_method: GET
        request_parameters: {}
        request_headers: {}
        authenticator:
          type: ApiKeyAuthenticator
          api_token: '{{ config[''api_key''] }}'
          inject_into:
            type: RequestOption
            inject_into: header
            field_name: Authorization
        request_body_json: {}
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: NoPagination
    transformations:
      - type: RemoveFields
        field_pointers:
          - - UsersGroup
      - type: RemoveFields
        field_pointers:
          - - Team
      - type: RemoveFields
        field_pointers:
          - - User
            - avatar_15x15
spec:
  type: Spec
  documentation_url: https://docs.airbyte.com/integrations/sources/shiftbase
  connection_specification:
    title: Shiftbase Spec
    type: object
    required:
      - api_key
    additionalProperties: true
    properties:
      api_key:
        type: string
        title: API Key
        airbyte_secret: true
        order: 0
metadata:
  autoImportSchema:
    Users: true
